//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        cmb_q {
            bindings = <&kp Q>;
            key-positions = <24 25>;
        };

        cmb_qu {
            bindings = <&qu>;
            key-positions = <27 28>;
        };
    };

    macros {
        qu: qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp U>, <&macro_press>;

            label = "QU";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
           &kp X             &kp W               &kp M         &kp G      &kp J        &kp SEMICOLON  &kp BACKSPACE  &kp PERIOD  &kp SQT              &kp DOUBLE_QUOTES
           &hm LEFT_SHIFT C  &hm LEFT_CONTROL S  &kp N         &kp T      &kp K        &kp COMMA      &kp A          &kp E       &hm RIGHT_CONTROL I  &hm RIGHT_SHIFT H
&lt 3 TAB  &kp P             &kp F               &kp L         &kp D      &kp V        &kp QUESTION   &kp U          &kp O       &kp Y                &kp B              &hm RIGHT_ALT Z
                                                 &kp LEFT_GUI  &lt 1 ESC  &kp SPACE    &kp R          &lt 2 ENTER    &kp F13
            >;
        };

        Num {
            display-name = "Num";
            bindings = <
              &kp F1     &kp F2     &kp F3     &kp F4     &kp F5           &kp RBRC        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS
              &kp LC(A)  &kp LEFT   &kp DOWN   &kp RIGHT  &kp F10          &kp UNDERSCORE  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&kp LEFT_ALT  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp RG(LS(S))    &kp RPAR        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_DIVIDE  &kp KP_EQUAL
                                    &trans     &trans     &trans           &trans          &kp NUMBER_0  &kp DOT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
                &kp EXCL  &kp AT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT    &kp CARET             &kp AMPERSAND   &kp KP_ASTERISK  &kp HASH  &kp DOLLAR
                &trans    &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans         &kp NON_US_BACKSLASH  &kp UNDERSCORE  &kp MINUS        &kp PLUS  &kp EQUAL
&studio_unlock  &trans    &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans         &kp GRAVE             &kp EQUAL       &trans           &trans    &kp SLASH   &kp HOME
                                  &trans                &trans                 &trans         &trans                &trans          &trans
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &bootloader  &trans  &trans  &trans  &to 4     &trans    &trans          &kp UP    &kp END    &kp LS(INSERT)
        &kp CAPS     &trans  &trans  &trans  &trans    &kp HOME  &kp LEFT_ARROW  &kp DOWN  &kp RIGHT  &kp INS
&trans  &trans       &trans  &trans  &trans  &trans    &trans    &kp END         &trans    &trans     &kp F20         &kp DELETE
                             &trans  &trans  &trans    &trans    &trans          &trans
            >;
        };

        Gaming {
            display-name = "Gaming";
            bindings = <
            &kp Z           &kp X  &kp C      &kp V         &sl 5     &trans  &trans  &trans  &trans  &trans
            &kp TAB         &kp Q  &kp W      &kp E         &kp R     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_SHIFT  &kp A  &kp S      &kp D         &kp F     &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LCTRL  &kp LEFT_ALT  &trans    &trans  &trans  &trans
            >;
        };

        Gaming+ {
            display-name = "Gaming+";
            bindings = <
        &kp F10  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T     &kp RA(RC(Y))  &kp RA(RC(U))  &trans  &trans  &kp LC(RA(DEL))
        &kp L    &kp O         &kp Y         &kp K         &kp G     &kp F5         &trans         &trans  &trans  &trans
&trans  &to 0    &trans        &trans        &trans        &trans    &trans         &trans         &trans  &trans  &trans           &kp LA(F4)
                               &kp J         &kp I         &kp M     &trans         &trans         &trans
            >;
        };
    };
};
